@font-face {
    font-family: "DimaYekan";
    src: url("/fonts/Yekan-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "times";
    src: url("/fonts/times.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.yekan {
    font-family: "DimaYekan", sans-serif;
}
@font-face {
    font-family: "vazir";
    src: url("/fonts/Vazir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "shabnam";
    src: url("/fonts/Shabnam-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.shabnam {
    font-family: "shabnam", sans-serif;
}



@font-face {
    font-family: "shabnam";
    src: url("/fonts/Shabnam-FD.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.shabnam-fd {
    font-family: "shabnam", sans-serif;
}


@font-face {
    font-family: "amiri";
    src: url("/fonts/amiri-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}




.vazir {
    font-family: "vazir", sans-serif;
}

.times {
    font-family: "times", sans-serif;
}




/* برای مرورگرهای مدرن */
input::placeholder {
    font-family: "vazir", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: right;
    color: #8c8c8c; /* رنگ خاکستری مشابه placeholder */
}

/* برای مرورگرهای قدیمی */
input:-ms-input-placeholder {
    /* IE 10+ */
    font-family: "Vazir", sans-serif;
}
input::-ms-input-placeholder {
    /* Edge */
    font-family: "Vazir", sans-serif;
}

body {
    font-family: "Vazir", sans-serif;
}
